<ul ngbNav #nav="ngbNav" [activeId]="2" class="nav-tabs justify-content-center">

	<li>
		<button routerLink="" class="nav-link" ngbDropdownItem>home</button>
	</li>

	<li ngbDropdown class="nav-item" role="presentation">
		<button type="button" class="nav-link" ngbDropdownToggle>Demo</button>
		<div ngbDropdownMenu>
			<button routerLink="demo/bootstrap" ngbDropdownItem>Demo bootstrap</button>
			
			<div class="dropdown-divider"></div>
		</div>
	</li>

	<!-- Affichage  du menu uniquement si l'utilisateur est admin -->
	@if(isAdminSignalNavbar()){
	
	<li ngbDropdown class="nav-item" role="presentation">
		<button type="button" class="nav-link" ngbDropdownToggle>Exo</button>
		<div ngbDropdownMenu>
			<button routerLink="exo/compteur" ngbDropdownItem>Exo Compteur</button>
			
			<div class="dropdown-divider"></div>
		</div>
	</li>
	}

	
	<li>
		<app-login-component></app-login-component>
	</li>

</ul>